/*The root of the filter panel*/
.FilterPanel {
  min-width: 350px;
  max-width: 400px;
  padding: 0 1em;
  background-color: #3e5958;
  height: inherit;
}

.FilterNameTag{
  font-size:medium;
  color: white;
  width: 90px;
}

/*Each rows root*/
.FilterRowDiv{
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  text-align: left;
  padding-bottom: 0.5em;
  min-height: 3px;
}

.DropDown{
  width: 15rem;
  max-width: 15rem;
  padding-left: 0.5em;
  position: absolute;
  right: 5px;
}

.optionValueCount {
  color: rgba(0, 0, 0, 0.6);
  font-size: 85%;
}
.DropDown__value-container .optionValueCount {
  display: none;
}


.SatCountText{
  color: white;
}

/*Project name at top*/
.headerName{
  background: transparent;
  position: relative;
  color: white;
}
