/*The root of the filter panel*/
.FilterPanel {
  padding: 0 1em;
  height: inherit;
}

.FilterNameTag{
  font-size:medium;
  color: white;
  width: 110px;
  margin: 0.5em 0px 0.5em 0px;
}

/*Each rows root*/
.FilterRowDiv{
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  text-align: left;
  padding-bottom: 0.5em;
  min-height: 3px;
}

.DropDown{
  width: 17rem;
  max-width: 20rem;
  padding-left: 1em;
  position: absolute;
  right: 5px;
}

.optionValueCount {
  color: rgba(0, 0, 0, 0.6);
  font-size: 85%;
}
.DropDown__value-container .optionValueCount {
  display: none;
}


.SatCountText{
  color: white;
  margin: 1em 0em 1em 0em;
}

/*Project name at top*/
.headerName{
  background: transparent;
  position: relative;
  color: white;
  font-size: x-large;
}

.infoIcon{
  cursor: pointer;
  color: #fddd02;
}

.infoIcon:hover{
  color: white;
}