.RightPanel{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #3e5958;
  justify-content: space-between;
  min-width: 400px;
  max-width: 450px;
}

.FilterPart{
  overflow: hidden auto;
}

.DetailPart{
  min-height: 40px;
  overflow: hidden auto;
}