.RightPanel{
  display: flex;
  flex-direction: column;
  background-color: #1f3b50;
  width: 30vw;
}

.FilterPart{
  overflow: hidden auto;
  flex: 1 0 auto;
}

.DetailPart{
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}