.MainDetailPanel, .DetailButton{
  width: inherit;
  background: transparent;
}

.DetailDiv{
  padding: 1em 0em 1em 0em;
  height: fit-content;
  color: white;
  padding: 0 1em 1em 1em;
}

/*Button style*/
.DetailButton{
  cursor: pointer;
  height: 40px;
  border-color: transparent;
  background-color: #294644;
  color: white;
  width: 100%;
  padding: 1em;
}

.DetailButton:hover{
  background-color: #304948;
}

/*Satelite name style*/
.DetailHeaderRow{
  display: flex;
  margin: 0 0 -1em 0;
  align-items: center;
}

.DetailHeader{
  flex: 1 1 0;
  margin: 0.5em 0 0 0;
}

.DetailSubHeader{
  display: flex;
  align-items: center;
}

.DetailSubHeaderValue{
  font-size: small;
  flex: 1 1 0;
}

.DetailSubHeaderValue a{
  padding-left: 0.5em;
  color: lightblue
}


/*Row style*/
.DetailRow{
  text-align: left;
  display: flex;
  margin: 0em 0 -1em 0;
  align-items: center;
}

.DetailRowLabel{
  color: white;
  padding-left:1em;
  width: 35%;
  font-weight: bold;
}

.DetailRowValue{
  color: white;
  padding-left:0.5em;
}

/*No selected sat style*/
.NoSelection {
  margin: 1em 0;
  font-style: italic;
  color: white;
  opacity: 0.8;
}

.help {
  cursor: help;
}