.WorldMap {
  padding: 0;
  background-color: "lightblue"
}

#tooltip {
  position: absolute;
  opacity: 1;
  background-color: antiquewhite;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}
