/* TODO: Set colors better */

.ViewContainer {
  /* Some variables */
  --collapsed-nav-height: 50px;

  width: 100%;
  height: 100%;
  
  display: grid;
  /* Make canvas fill rest of container */
  grid-template-rows: var(--collapsed-nav-height) auto;
}

.ViewContainer.expanded {
  grid-template-rows: auto 0;
}

.viewOptions {
  grid-column: 1;
  grid-row: 1;

  padding: 0;
  height: var(--collapsed-nav-height);
  background-color: black;
  
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.viewOptions.expanded {
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto var(--collapsed-nav-height);
}

.optionContainer {
  background-color: black;

  /* Align all content center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Ignore default a tag styles */
  text-decoration: inherit;
  color: inherit;
}

.optionContainer.expanded {
  padding: 0 2rem;
}

.optionContainer:hover {
  background-color: darkslategray;
}

.optionTitle {
  color: white;
  font-size: 150%;

  margin: 0;
}

.optionDescription {
  color: lightgray;
  text-align: left;
}