.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-align: center;
  overflow: hidden;
}

.mainView{
  flex: 1 1 0;
  min-height: 200px;
  display: flex;
  justify-content: stretch;
}

.mapView{
  flex: 1 1 0;
  min-width: 200px;
}
