.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 1em 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainView{
  display: flex;
  height: 90vh;
}

.mapView{
  width: 85%;

}

.modeBTN{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1em;
  top: 1em;
  z-index: 100;

  background-color: gray;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Ignore default a tag styles */
  text-decoration: inherit;
  color: inherit;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
